
.cabecalho__menu__hamburgue {
    width: 24px; /* Sets the menu width */
    height: 24px; /* Sets the menu height */
    background-image: url("/img/Menu.svg"); /* Sets the menu image as the background image */
    background-repeat: no-repeat;
    display: inline-block; /* Creates a block display so the menu has the defined dimensions */
}

.cabecalho {
    background-color: var(--branco); /* Sets the background color */
    display: flex; /* Starts a flex display to manipulate the objects */
    justify-content: space-between; /* Creates equal spacing between objects */
    align-items: center; /* Aligns objects evenly in the center */
}

.container {
    align-items: center; /* Forces alignment of objects inside divs */
}

.container__imagem {
    padding: 1em; /* Creat a iqual space between the itens */
}
